In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
pd.read_csv("visadataset.csv")

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

In [5]:
import pandas as pd

# Read CSV file
df = pd.read_csv("visadataset.csv")

# Check DataFrame properties
print("Shape:", df.shape)
print("Size:", df.size)
print("Number of rows:", len(df))
print("Columns:", df.columns.tolist())
print("Data Types:\n", df.dtypes)
print("Missing Values:\n", df.isnull().sum())
print("\nSummary Info:")
df.info()

Shape: (25480, 12)
Size: 305760
Number of rows: 25480
Columns: ['case_id', 'continent', 'education_of_employee', 'has_job_experience', 'requires_job_training', 'no_of_employees', 'yr_of_estab', 'region_of_employment', 'prevailing_wage', 'unit_of_wage', 'full_time_position', 'case_status']
Data Types:
 case_id                   object
continent                 object
education_of_employee     object
has_job_experience        object
requires_job_training     object
no_of_employees            int64
yr_of_estab                int64
region_of_employment      object
prevailing_wage          float64
unit_of_wage              object
full_time_position        object
case_status               object
dtype: object
Missing Values:
 case_id                  0
continent                0
education_of_employee    0
has_job_experience       0
requires_job_training    0
no_of_employees          0
yr_of_estab              0
region_of_employment     0
prevailing_wage          0
unit_of_wage             0
full_time_position       0
case_status              0
dtype: int64

Summary Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25480 entries, 0 to 25479
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   case_id                25480 non-null  object
 1   continent              25480 non-null  object
 2   education_of_employee  25480 non-null  object
 3   has_job_experience     25480 non-null  object
 4   requires_job_training  25480 non-null  object
 5   no_of_employees        25480 non-null  int64
 6   yr_of_estab            25480 non-null  int64
 7   region_of_employment   25480 non-null  object
 8   prevailing_wage        25480 non-null  float64
 9   unit_of_wage           25480 non-null  object
 10  full_time_position     25480 non-null  object
 11  case_status            25480 non-null  object
dtypes: float64(1), int64(2), object(9)
memory usage: 2.3+ MB

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
import pandas as pd  # This is the standard way to import pandas
df = pd.read_csv("bank.csv",sep=';')
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [18]:
import pandas as pd

# Read CSV file
df = pd.read_csv("bank.csv", sep=";")

# Check DataFrame properties
print("Shape:", df.shape)
print("Size:", df.size)
print("Number of rows:", len(df))
print("Columns:", df.columns.tolist())
print("Data Types:\n", df.dtypes)
print("Missing Values:\n", df.isnull().sum())
print("\nSummary Info:")
df.info()

Shape: (4521, 17)
Size: 76857
Number of rows: 4521
Columns: ['age', 'job', 'marital', 'education', 'default', 'balance', 'housing', 'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'y']
Data Types:
 age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object
Missing Values:
 age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

Summary Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        4521 non-null   int64
 1   job        4521 non-null   object
 2   marital    4521 non-null   object
 3   education  4521 non-null   object
 4   default    4521 non-null   object
 5   balance    4521 non-null   int64
 6   housing    4521 non-null   object
 7   loan       4521 non-null   object
 8   contact    4521 non-null   object
 9   day        4521 non-null   int64
 10  month      4521 non-null   object
 11  duration   4521 non-null   int64
 12  campaign   4521 non-null   int64
 13  pdays      4521 non-null   int64
 14  previous   4521 non-null   int64
 15  poutcome   4521 non-null   object
 16  y          4521 non-null   object
dtypes: int64(7), object(10)
memory usage: 600.6+ KB

In [8]:
visadataset_df=pd.read_csv("visadataset.csv")

In [9]:
bank_df=pd.read_csv("bank.csv")

In [ ]:
- shape

- size

- len

- columns

- dtypes

- isnull

- info

In [11]:
df.shape  # Output: (rows, columns)

(4521, 17)

In [12]:
df.size  # Output: rows * columns

76857

In [13]:
len(df)  # Output: Number of rows

4521

In [14]:
df.columns  # Output: Index(['col1', 'col2', ...], dtype='object')

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [15]:
df.dtypes  
# Example output:
# col1      int64
# col2    float64
# col3     object
# dtype: object

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

In [11]:
df.isnull()  # Shows True/False for each cell
df.isnull().sum()  # Counts missing values per column

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        4521 non-null   int64
 1   job        4521 non-null   object
 2   marital    4521 non-null   object
 3   education  4521 non-null   object
 4   default    4521 non-null   object
 5   balance    4521 non-null   int64
 6   housing    4521 non-null   object
 7   loan       4521 non-null   object
 8   contact    4521 non-null   object
 9   day        4521 non-null   int64
 10  month      4521 non-null   object
 11  duration   4521 non-null   int64
 12  campaign   4521 non-null   int64
 13  pdays      4521 non-null   int64
 14  previous   4521 non-null   int64
 15  poutcome   4521 non-null   object
 16  y          4521 non-null   object
dtypes: int64(7), object(10)
memory usage: 600.6+ KB

In [15]:
visadataset_df.dtypes

case_id                   object
continent                 object
education_of_employee     object
has_job_experience        object
requires_job_training     object
no_of_employees            int64
yr_of_estab                int64
region_of_employment      object
prevailing_wage          float64
unit_of_wage              object
full_time_position        object
case_status               object
dtype: object

- series looks like dataframe

- dataframe has column names matrix kind

- series only index and its value

- series like a dictionary key and values

In [17]:
visadataset_df.dtypes.keys()

Index(['case_id', 'continent', 'education_of_employee', 'has_job_experience',
       'requires_job_training', 'no_of_employees', 'yr_of_estab',
       'region_of_employment', 'prevailing_wage', 'unit_of_wage',
       'full_time_position', 'case_status'],
      dtype='object')

In [20]:
list(visadataset_df.dtypes.items())

[('case_id', dtype('O')),
 ('continent', dtype('O')),
 ('education_of_employee', dtype('O')),
 ('has_job_experience', dtype('O')),
 ('requires_job_training', dtype('O')),
 ('no_of_employees', dtype('int64')),
 ('yr_of_estab', dtype('int64')),
 ('region_of_employment', dtype('O')),
 ('prevailing_wage', dtype('float64')),
 ('unit_of_wage', dtype('O')),
 ('full_time_position', dtype('O')),
 ('case_status', dtype('O'))]

**make a DataFrame**

In [21]:
pd.DataFrame(visadataset_df.dtypes)

                             0
case_id                 object
continent               object
education_of_employee   object
has_job_experience      object
requires_job_training   object
no_of_employees          int64
yr_of_estab              int64
region_of_employment    object
prevailing_wage        float64
unit_of_wage            object
full_time_position      object
case_status             object

In [22]:
pd.DataFrame(visadataset_df.dtypes, index=False)

TypeError: 'bool' object is not iterable

In [23]:
keys=visadataset_df.dtypes.keys()
values=visadataset_df.dtypes.values
pd.DataFrame(keys,values),columns

NameError: name 'columns' is not defined

In [24]:
keys=visadataset_df.dtypes.keys()
values=visadataset_df.dtypes.values
pd.DataFrame(zip(keys,values),
             columns=['Column name', 'Data type'])

              Column name Data type
0                 case_id    object
1               continent    object
2   education_of_employee    object
3      has_job_experience    object
4   requires_job_training    object
5         no_of_employees     int64
6             yr_of_estab     int64
7    region_of_employment    object
8         prevailing_wage   float64
9            unit_of_wage    object
10     full_time_position    object
11            case_status    object

- when we have a dictionary 

- First makes in to keys and values seperate

- Then create a dafaframe

**task-1: seperate categorical columns and numerical**

In [25]:
dict1={'A':1,
      'B':2,
      'a':3,
      'b':4}
for i in dict1:
    print(i)

A
B
a
b

In [35]:
dict1={'A':1,
      'B':2,
      'a':3,
      'b':4}
for i in dict1.items():
    print(i)

('A', 1)
('B', 2)
('a', 3)
('b', 4)

In [30]:
dict1={'A':1,
      'B':2,
      'a':3,
      'b':4}
for i,j in dict1.items():
    print(i)

A
B
a
b

In [27]:
visadataset_df.dtypes

case_id                   object
continent                 object
education_of_employee     object
has_job_experience        object
requires_job_training     object
no_of_employees            int64
yr_of_estab                int64
region_of_employment      object
prevailing_wage          float64
unit_of_wage              object
full_time_position        object
case_status               object
dtype: object

In [28]:
visadataset_df.dtypes.items

<bound method Series.items of case_id                   object
continent                 object
education_of_employee     object
has_job_experience        object
requires_job_training     object
no_of_employees            int64
yr_of_estab                int64
region_of_employment      object
prevailing_wage          float64
unit_of_wage              object
full_time_position        object
case_status               object
dtype: object>

In [29]:
dict(visadataset_df.dtypes)

{'case_id': dtype('O'),
 'continent': dtype('O'),
 'education_of_employee': dtype('O'),
 'has_job_experience': dtype('O'),
 'requires_job_training': dtype('O'),
 'no_of_employees': dtype('int64'),
 'yr_of_estab': dtype('int64'),
 'region_of_employment': dtype('O'),
 'prevailing_wage': dtype('float64'),
 'unit_of_wage': dtype('O'),
 'full_time_position': dtype('O'),
 'case_status': dtype('O')}

In [ ]:
dict(visadataset_df.dtypes)
#iterate two i,j
# apply the condition
# if j=='object'
#append i in a list
# else
# append i in list

In [ ]:
dict(visadataset_df.dtypes)
for i,j in dtypes.items():
    print(i,j)

In [37]:
dtypes=dict(visadataset_df.dtypes)
for i,j in dtypes.items():
    print(i,j)

case_id object
continent object
education_of_employee object
has_job_experience object
requires_job_training object
no_of_employees int64
yr_of_estab int64
region_of_employment object
prevailing_wage float64
unit_of_wage object
full_time_position object
case_status object

In [39]:
dtypes=dict(visadataset_df.dtypes)
cat,num=[],[]
for i,j in dtypes.items():
    if j=='object':
        print(i)

case_id
continent
education_of_employee
has_job_experience
requires_job_training
region_of_employment
unit_of_wage
full_time_position
case_status

In [40]:
dtypes=dict(visadataset_df.dtypes)
cat,num=[],[]
for i,j in dtypes.items():
    if j=='object':
        cat.append(i)
    else:
        num.append(i)

In [41]:
dtypes=dict(visadataset_df.dtypes)
cat,num=[],[]
for i,j in dtypes.items():
    if j=='object':
        cat.append(i)
    else:
        num.append(i)

In [ ]:
dtypes=dict(visadataset_df.dtypes)
cat=[i for i,j in dtypes.items() if j=='object']
num=[i for i,j in dtypes.items() if j!=='object']

**select_dtypes**

In [45]:
visadataset_df.select_dtypes(include='object')

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,region_of_employment,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,West,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,Northeast,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,West,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,West,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,South,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,South,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,Northeast,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,South,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,West,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,Midwest,Year,Y,Certified

In [43]:
visadataset_df.select_dtypes(include='object').columns

Index(['case_id', 'continent', 'education_of_employee', 'has_job_experience',
       'requires_job_training', 'region_of_employment', 'unit_of_wage',
       'full_time_position', 'case_status'],
      dtype='object')

In [44]:
visadataset_df.select_dtypes(exclude='object').columns

Index(['no_of_employees', 'yr_of_estab', 'prevailing_wage'], dtype='object')

In [ ]:
# now onwards
# import the packages 
# read the data 
# select the dtypes

**Data Selection**

  - take

  - loc

  - iloc

In [ ]:
# select 100,200,300 rows data

In [46]:
rows=[100,200,300]
visadataset_df.take(rows,axis=0)

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
100,EZYV101,Asia,Master's,Y,N,2227,2007,Northeast,28243.79,Year,Y,Certified
200,EZYV201,Asia,Doctorate,Y,N,3282,1979,West,74441.11,Year,Y,Certified
300,EZYV301,Asia,Master's,Y,N,3268,2012,Midwest,101371.21,Year,Y,Certified

In [ ]:
# for columns selection

In [49]:
cols=['continent,education_of_employee']
visadataset_df.take(cols,axis=1)

ValueError: invalid literal for int() with base 10: 'case_id,continent,education_of_employee'

In [50]:
cols=[1,5]
visadataset_df.take(cols,axis=1)

      continent  no_of_employees
0          Asia            14513
1          Asia             2412
2          Asia            44444
3          Asia               98
4        Africa             1082
...         ...              ...
25475      Asia             2601
25476      Asia             3274
25477      Asia             1121
25478      Asia             1918
25479      Asia             3195

[25480 rows x 2 columns]

In [51]:
cols=[1,5]
visadataset_df.take(cols,axis=1).take

<bound method NDFrame.take of       continent  no_of_employees
0          Asia            14513
1          Asia             2412
2          Asia            44444
3          Asia               98
4        Africa             1082
...         ...              ...
25475      Asia             2601
25476      Asia             3274
25477      Asia             1121
25478      Asia             1918
25479      Asia             3195

[25480 rows x 2 columns]>

In [52]:
cols=[1,5]
visadataset_df.take(cols,axis=1).take(rows,axis=0)

    continent  no_of_employees
100      Asia             2227
200      Asia             3282
300      Asia             3268

- Manual counting index of columns

- At a time I can not select rows and columns need to do two takes

**iloc**

In [ ]:
iloc[rows,columns]
iloc[start:stop:step,start:stop:step]

In [54]:
visadataset_df.iloc[1:5,2:5]

  education_of_employee has_job_experience requires_job_training
1              Master's                  Y                     N
2            Bachelor's                  N                     Y
3            Bachelor's                  N                     N
4              Master's                  Y                     N

In [ ]:
visadataset_df.iloc[1:5,5]
visadataset_df.iloc[4,2:5]
visadataset_df.iloc[1:5,[2,6,7]
visadataset_df.iloc[[100,200,300],2:5]
visadataset_df.iloc[[100,200,300],[2,6,7]]
visadataset_df.iloc[100,5]
visadataset_df.iloc[100]
visadataset_df.iloc[:,5]
visadataset_df.iloc[5,:]

In [55]:
visadataset_df.iloc[1:5,5]

1     2412
2    44444
3       98
4     1082
Name: no_of_employees, dtype: int64

In [56]:
visadataset_df.iloc[4,2:5]

education_of_employee    Master's
has_job_experience              Y
requires_job_training           N
Name: 4, dtype: object

In [57]:
visadataset_df.iloc[1:5,[2,6,7]

_IncompleteInputError: incomplete input (2363590665.py, line 1)

In [58]:
visadataset_df.iloc[[100,200,300],2:5]

    education_of_employee has_job_experience requires_job_training
100              Master's                  Y                     N
200             Doctorate                  Y                     N
300              Master's                  Y                     N

In [59]:
visadataset_df.iloc[[100,200,300],[2,6,7]]

    education_of_employee  yr_of_estab region_of_employment
100              Master's         2007            Northeast
200             Doctorate         1979                 West
300              Master's         2012              Midwest

In [60]:
visadataset_df.iloc[100,5]

np.int64(2227)

In [61]:
visadataset_df.iloc[100]

case_id                    EZYV101
continent                     Asia
education_of_employee     Master's
has_job_experience               Y
requires_job_training            N
no_of_employees               2227
yr_of_estab                   2007
region_of_employment     Northeast
prevailing_wage           28243.79
unit_of_wage                  Year
full_time_position               Y
case_status              Certified
Name: 100, dtype: object

In [62]:
# selecting a particular column -- in series format
visadataset_df.iloc[:,5]

0        14513
1         2412
2        44444
3           98
4         1082
         ...
25475     2601
25476     3274
25477     1121
25478     1918
25479     3195
Name: no_of_employees, Length: 25480, dtype: int64

In [63]:
visadataset_df.iloc[5,:]

case_id                     EZYV06
continent                     Asia
education_of_employee     Master's
has_job_experience               Y
requires_job_training            N
no_of_employees               2339
yr_of_estab                   2012
region_of_employment         South
prevailing_wage           78252.14
unit_of_wage                  Year
full_time_position               Y
case_status              Certified
Name: 5, dtype: object

In [64]:
visadataset_df.iloc[[:,5]]

SyntaxError: invalid syntax (2102705372.py, line 1)

In [65]:
visadataset_df.iloc[:,[5]]

       no_of_employees
0                14513
1                 2412
2                44444
3                   98
4                 1082
...                ...
25475             2601
25476             3274
25477             1121
25478             1918
25479             3195

[25480 rows x 1 columns]

In [66]:
visadataset_df.iloc[:,'no_of_employees']

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [ ]:
- take
    - Manual counting

    - At a time we can not select rows and columns

In [67]:
visadataset_df.loc[:,'no_of_employees']

0        14513
1         2412
2        44444
3           98
4         1082
         ...
25475     2601
25476     3274
25477     1121
25478     1918
25479     3195
Name: no_of_employees, Length: 25480, dtype: int64

In [ ]:
visadataset_df.loc[1:5,<>]
visadataset_df.loc[4,2:<>]
visadataset_df.loc[1:5,[<>]
visadataset_df.loc[[100,200,300],:]
visadataset_df.loc[[100,200,300],[<>]]
visadataset_df.loc[100,<>]
visadataset_df.loc[100]
visadataset_df.loc[:,<>]
visadataset_df.loc[5,:]

In [68]:
visadataset_df.loc[1:5,cols]

KeyError: "None of [Index([1, 5], dtype='int64')] are in the [columns]"

In [69]:
visadataset_df.loc[4,2:cols]

TypeError: cannot do slice indexing on Index with these indexers [2] of type int

In [70]:
visadataset_df.loc[1:5,[cols]

_IncompleteInputError: incomplete input (2199841161.py, line 1)

In [71]:
visadataset_df.loc[[100,200,300],:]

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
100,EZYV101,Asia,Master's,Y,N,2227,2007,Northeast,28243.79,Year,Y,Certified
200,EZYV201,Asia,Doctorate,Y,N,3282,1979,West,74441.11,Year,Y,Certified
300,EZYV301,Asia,Master's,Y,N,3268,2012,Midwest,101371.21,Year,Y,Certified

In [73]:
visadataset_df.loc[[100,200,300],[cols]]

KeyError: "None of [Index([(1, 5)], dtype='object')] are in the [columns]"

In [74]:
visadataset_df.loc[100,cols]

KeyError: "None of [Index([1, 5], dtype='int64')] are in the [index]"

In [75]:
visadataset_df.loc[100]

case_id                    EZYV101
continent                     Asia
education_of_employee     Master's
has_job_experience               Y
requires_job_training            N
no_of_employees               2227
yr_of_estab                   2007
region_of_employment     Northeast
prevailing_wage           28243.79
unit_of_wage                  Year
full_time_position               Y
case_status              Certified
Name: 100, dtype: object

In [76]:
visadataset_df.loc[:,cols]

KeyError: "None of [Index([1, 5], dtype='int64')] are in the [columns]"

In [77]:
visadataset_df.loc[5,:]

case_id                     EZYV06
continent                     Asia
education_of_employee     Master's
has_job_experience               Y
requires_job_training            N
no_of_employees               2339
yr_of_estab                   2012
region_of_employment         South
prevailing_wage           78252.14
unit_of_wage                  Year
full_time_position               Y
case_status              Certified
Name: 5, dtype: object

In [ ]:
#catogerical colums tomorrow ==> complete data analysis will start