In [ ]:
# import packages
# Read the data
# convert cat and numerical columns
# read prevailing_wage data
# wage_data=visa_df[col]
# count=len(wage_data)
# min=np.min
# max=np.max
# mean=np.mean
# meadian=np.median
# 25p=np.percentile()
# 50p=np.
# 75P

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
visa_df=pd.read_csv("visadataset.csv")

In [3]:
visa_df.dtypes    # dtypes means ===> Data types

case_id                   object
continent                 object
education_of_employee     object
has_job_experience        object
requires_job_training     object
no_of_employees            int64
yr_of_estab                int64
region_of_employment      object
prevailing_wage          float64
unit_of_wage              object
full_time_position        object
case_status               object
dtype: object

In [4]:
type(visa_df)

pandas.core.frame.DataFrame

In [5]:
type(visa_df.dtypes)

pandas.core.series.Series

In [6]:
list(visa_df.dtypes)

[dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('int64'),
 dtype('int64'),
 dtype('O'),
 dtype('float64'),
 dtype('O'),
 dtype('O'),
 dtype('O')]

In [7]:
list(visa_df.dtypes.items())

[('case_id', dtype('O')),
 ('continent', dtype('O')),
 ('education_of_employee', dtype('O')),
 ('has_job_experience', dtype('O')),
 ('requires_job_training', dtype('O')),
 ('no_of_employees', dtype('int64')),
 ('yr_of_estab', dtype('int64')),
 ('region_of_employment', dtype('O')),
 ('prevailing_wage', dtype('float64')),
 ('unit_of_wage', dtype('O')),
 ('full_time_position', dtype('O')),
 ('case_status', dtype('O'))]

In [8]:
pd.DataFrame(visa_df.dtypes)

                             0
case_id                 object
continent               object
education_of_employee   object
has_job_experience      object
requires_job_training   object
no_of_employees          int64
yr_of_estab              int64
region_of_employment    object
prevailing_wage        float64
unit_of_wage            object
full_time_position      object
case_status             object

In [9]:
dtypes=dict(visa_df.dtypes) # comphensive type 
cat=[i for i,j in dtypes.items() if j=='object']
num=[i for i,j in dtypes.items() if j!=='object']

SyntaxError: invalid syntax (248453708.py, line 3)

In [10]:
visa_df.select_dtypes(include='object')

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,region_of_employment,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,West,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,Northeast,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,West,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,West,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,South,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,South,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,Northeast,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,South,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,West,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,Midwest,Year,Y,Certified

In [12]:
visa_df.select_dtypes(include='object').columns

Index(['case_id', 'continent', 'education_of_employee', 'has_job_experience',
       'requires_job_training', 'region_of_employment', 'unit_of_wage',
       'full_time_position', 'case_status'],
      dtype='object')

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
visa_df=pd.read_csv('visadataset.csv')

In [15]:
cat=visa_df.select_dtypes(include='object').columns
num=visa_df.select_dtypes(exclude='object').columns

In [24]:
wage_data=visa_df['prevailing_wage']
wage_data

0           592.2029
1         83425.6500
2        122996.8600
3         83434.0300
4        149907.3900
            ...
25475     77092.5700
25476    279174.7900
25477    146298.8500
25478     86154.7700
25479     70876.9100
Name: prevailing_wage, Length: 25480, dtype: float64

In [25]:
wage_data=visa_df[col]

NameError: name 'col' is not defined

In [ ]:
count=len(wage_data)
Min=round(np.min(wage_data),2))
Max=np.max(wage_data),2))
Mean=np.mean(wage_data),2))
Median=np.Median(wage_data),2))

In [22]:
count=len(wage_data)

In [23]:
Min=round(np.min(wage_data),2))

SyntaxError: unmatched ')' (2533124102.py, line 1)

In [ ]:
np.percentile
np.quantile

In [ ]:
print

In [ ]:
count=len(wage_data)
Min=round(np.min(wage_data),2)
p_25=round(np.percentile(wage_data,25),2
Mean=round(np.mean(wage_data),2)
Median=round(np.median(wage_data),2)
p_50=round(np.percentile(wage_data),)
p_75=round(np.percentile(wage_data),2)
Max=round(np.max(wage_data),2)
# keep all values in list
# create a list index=['count','min', '25p', ]

In [ ]:
wage_data=visa_df['prevailing_wage']
count=len(wage_data)
Min=round(np.min(wage_data),2)
p_25=round(np.percentile(wage_data,25),2
Mean=round(np.mean(wage_data),2)
Median=round(np.median(wage_data),2)
p_50=round(np.percentile(wage_data),)
p_75=round(np.percentile(wage_data),2)
Max=round(np.max(wage_data),2)
values=
ids=
pd.

In [26]:
visa_df.describe()  # this is the method ---1,5 hour is equal to 1 second.

       no_of_employees   yr_of_estab  prevailing_wage
count     25480.000000  25480.000000     25480.000000
mean       5667.043210   1979.409929     74455.814592
std       22877.928848     42.366929     52815.942327
min         -26.000000   1800.000000         2.136700
25%        1022.000000   1976.000000     34015.480000
50%        2109.000000   1997.000000     70308.210000
75%        3504.000000   2005.000000    107735.512500
max      602069.000000   2016.000000    319210.270000